:root {
  --font-family-main: Coтnsolas, 'Times New Roman', Serif;

  --font-size-m: 16px;
  --font-size-l: 24px;

  --font-line-m: 24px;
  --font-line-l: 32px;

  --font-m: var(--font-family-main) / var(--font-size-m) / var(--font-line-m);
  --font-l: var(--font-family-main) / var(--font-size-l) / var(--font-line-l);

  // Размеры
  --navbar-height: 50px;

  --sidebar-width-collapsed: 80px;
  --sidebar-width: 300px;
}
