.navbar {
  height: var(--navbar-height);
  width: 100%;
  background: var(--inverted-bg-color);
  display: flex;
  padding: 20px;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}
